#**Business Understanding pada Dataset Transaksi Penjualan Kafe**

Nama: Rivalio Chendra  
NIM : 2509116039  
Kelas : A

# Import Library

In [ ]:
import pandas as pd

# Dataset

In [ ]:
file = "/content/drive/MyDrive/DATASET AVD/dirty_cafe_sales.csv"
data = pd.read_csv(file)

data

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

#Business Understanding

## Business Objective

Dataset ini berisi 10.000 transaksi penjualan sebuah kafe pada tahun 2023. Di dalam dataset ini terdapat 8 kolom yaitu Transaction ID, Item, Quantity, Price Per Unit, Total Spent, Payment Method, Location, dan Transaction Date. Dataset ini penuh dengan masalah pada datanya, ada nilai kosong, nilai "ERROR", "UNKNOWN", dan data yang tidak konsisten.


Tujuan analisis bisnis kafe ini adalah untuk memahami pola penjualan kafe sepanjang 2023, produk apa yang paling laris, kapan puncak penjualan terjadi, di mana transaksi paling banyak, dan metode pembayaran apa yang paling sering digunakan. Setelah mengetahui pola maka di harapkan dapat meningkatkan performa penjualan kafe, pendapatan dan efisiensi operasional.

##Asses Situation

Terdapat masalah kualitas data yang ditemukan di dataset ini:

- Banyak missing value (Item, Payment Method, Location).
- Ada nilai "ERROR" di beberapa kolom.
- Ada "UNKNOWN" di beberapa kolom.

Jika data tidak diperbaiki maka laporan keuangan menjadi tidak akurat dan keputusan bisnis bisa salah arah. Terlebih lagi dataset realatif besar (10.000 baris) sehingga menganalisis nya butuh ketelitian.

## Analytic Goals

Tujuan analitik yang ingin dicapai dari dataset ini adalah:
- Mengidentifikasi produk dengan penjualan tertinggi dan Revenue tertinggi.
- Mencari tahu metode pembayaran apa yang paling populer.
- Pelanggan lebih sering takeaway atau in-store.
- Penghasilan per bulan.

## Project Plans

Rencana pengerjaan dataset ini adalah:
- Membersihkan dan memperbaiki semua nilai ERROR, UNKNOWN, dan kosong agar data bisa dianalisis.
- Setelah data bersih, maka mulai menganalisis dan mengolah data untuk menyelesaikan tujuan di analytic goal.
- Menvisualisasikan data yang telah di olah.
- Membuat insight yang berguna bagi manajemen kafe untuk pengambilan keputusan.
-  Kemudian menarik kesimpulan berdasarkan hasil analisis.